#parentdiv {
  display: flex;

  margin-left: 100px;
  gap: 15px;
  margin-top: 20px;
  overflow-x: auto;
}
#parentdiv::-webkit-scrollbar {
  width: 0;
}
h2 {
  margin-left: 100px;
}
#parentdiv > div {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
}
#parentdiv > div > img {
  width: 100%;
}
#innerpricediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-top: -40px;
}
#innerpricediv > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
  gap: 10px;
}

#innerpricediv > div:nth-child(2) > h6:first-child {
  color: grey;
  font-size: 9px;
  text-decoration: line-through;
  margin-top: 26px;
}

#innerpricediv > div:nth-child(1) {
  color: rgb(230, 230, 56);
}
#vivek {
  /* border: 2px solid yellow; */
  padding: 8px;
  width: 200px;
  white-space: nowrap;
  /* overflow-wrap: break-word; */
  overflow: hidden;
  text-overflow: ellipsis;
}
#cartbtn {
  text-align: center;
  padding-bottom: 10px;
}
#cartbtn > button {
  background-color: rgb(113, 113, 233);
  color: white;
  border: none;
  width: 90%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
